.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-color: #f8f9fa;
    color: #364f59;
    font-weight: 600;
    padding: 1.5rem;
}

.customCheckBoxHolder {
    margin: 5px;
    display: flex;
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox {
    background-color: #ce7d2d;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, 
                rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, 
                rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox .fpBtn {
    transform: translateY(-2px);
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox:hover {
    background-color: #ce7d2d;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, 
                rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, 
                rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .fpBtn {
    transform: translateY(-2px);
}