.imagenes {
    padding: 0 auto;
    width: 100%;
}

.imagenes:hover {
    animation: slide-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.space {
    /* 
        Para dejar espacio entre las imagenes y el footer 
        sin que descuadre la maquetacion de la cabecera y las imagenes
    */
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.img:hover, .img2:hover, .img3:hover{
    transform: translateY(-10px);
}

/* .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: #ce7d2d8a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 40px;
}

.imagenes:hover .over{
    opacity: 1;
} */



/* footer {
    background-color: #364f59;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
} */


@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-45px);
    }
}

@media screen and (max-width: 768px) {}